@font-face {
    font-family: "digitalFont";
    src: url("../font/digital-7.ttf");
}

.myClockDay {
    font-family: "digitalFont";
    font-weight: 100;
    margin: 0;
}

.myClockTime {
    font-family: "digitalFont";
    margin: 0;
}

.myClockDate {
    font-family: "digitalFont";

}